{
    "calendars": [ 
        {
            "name": "google",
            "ical_url": "https://calendar.google.com/calendar/ical.ics",
            "user_name": "",
            "password": "",
            "verify_cert": true
        },
        {
            "name": "radicale",
            "ical_url": "https://radicale.server",
            "user_name": "user",
            "password": "password"
            "verify_cert": true
        }
    ],
    "database_path": "./test.db",
    "alarm_keyword": "Test"
}